.items{
    width: 80%;
    margin: auto;
}
.itemsList{
    border:1px solid blue;
    padding: 0;
}
.itemsList li {
    border-bottom: 1px solid blue;
    padding: 10px;
}
.itemsList li a {
     text-decoration: none;
}

